
:root{
    --color-bg:#1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77,181,255,0.7);
    --color-white: #ffffff;
    --color-light:rgba(255,255,255,0.4);
    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%;
    --transition: 400ms;
    }
.nav{
    display: flex;
    width: max-content;
    background: rgba(0,0,0,0.3);
    border-radius: 30%;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    bottom: 2rem;
  gap:0.8rem;
  border-radius: 3rem;
backdrop-filter: blur(15px);
}
.nav a{
    background: transparent;
    padding:0.9rem ;
    border-radius: 50% ;
    display: flex ;
    color: rgba(255,255,255,0.4) ;
   
    font-size: 1.1rem ;
    color: var(--color-white) ;
}
.nav a:hover{

    background: rgba(0,0,0,0.3) ;
}
.nav a.active{
    background:#1f1f38 ;
    color: var(--color-white) ;
}
@media (max-width: 334px){
    .nav a{
        
    margin: 0px;
      padding: 5px;
    }
    .nav{
        width: 80vw;
    }
}
@media (max-width: 273px){
    .nav a{
        
    margin: 0px;
      padding: 1px;
    }
}
